{
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 80,
  "arrowParens": "always",
  "useTabs": false,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "plugins": [],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
